h1{font-size:100px;
background-color: cyan;
font-family:"Times New Roman", Times, serif;
font-style: italic;
color: purple; }
a{font-size: 42px;
background-color: cyan
color: pink;}
a:hover{background-color: pink}
div{background-color: cyan;
	border-style: dotted;}
img{display: block;
margin: auto;}
audio{position: fixed;
right: 0;
bottom: 0;}
