h1 {
    color: blue;
    background: rgb(128, 255, 170);
    text-align: center;
    font-size: 60px;
    font-family: Lucida Console;
    position: sticky;
    top: 0px;
    left: 100px;
    right: 100px;
    text-indent: 5px;
    z-index: 999;
}
h1:hover{background-color: pink;
transition: background-color 1s}
div {
    color: blue;
    font-size: 24px;
    font-family: "Times New Roman", serif;
    background: rgb(128, 255, 170);
    position: sticky;
    padding-top: 50px;
    border-left-color: 50px;
    border-color: green;
    border-style: solid;
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 46px;
    padding-bottom: 32px;
}
div:hover{background-color: rgb(77, 255, 136);
transition: background-color 1s}

p{font-size: 60px;
color: red;
background-color: blue;
}
p:hover{background-color: pink
transition: background-color 1s}
#oops{color: blue;
font-size: 100px;
}
img{display: block;
margin: auto;
 width: 80%;
 margin-left: 10%;
margin-right: 10%;}
a{font-size: 60px;
color: purple;}
audio{position: fixed;}